<!-- Navbar -->
<nav class="navbar navbar bg p-3">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Calorie Counter</span>
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                User Name
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="index.html">Log out</a></li>
            </ul>
        </div>
    </div>
</nav>