<%- include('header') %>
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card shadow-lg p-4 bg" style="width: 350px;">
            <h3 class="text-center mb-3">Register</h3>
            <form>
                <div class="mb-3">
                    <label for="name" class="form-label">User Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter user name" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter password" required>
                </div>
                <div class="mb-3">
                    <label for="confirm-password" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm-password" placeholder="Confirm password" required>
                </div>
                <button type="submit" class="btn btn-dark w-100">Register</button>
            </form>
            <div class="text-center mt-3">
                <a href="login.html" class="text-decoration-none text-dark">Already have an account? Login!</a>
            </div>
        </div>
    </div>
<%- include('footer') %>